<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://www.dropbox.com/scl/fi/j3q8xhhhbm1lpgvmx1woa/Rutube-46.6.6_ios14.ipa?rlkey=5dul0eoqgy0x7nlb5g88q46gg&amp;st=4yi7q44x&amp;dl=1</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>ru.rutube.app</string>
                <key>bundle-version</key>
                <string>46.6.6</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>RuTube</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
