<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://www.dropbox.com/scl/fi/bclt1w50jtsr7f914qbch/Rutube-46.5.ipa?rlkey=7lqcricqarrytw0j2bhgxsy7g&amp;st=xa6vmj0s&amp;dl=1</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>ru.rutube.app</string>
                <key>bundle-version</key>
                <string>46.5</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>RuTube</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
